 


  <!-- Hero Section -->
  <section class="bg-light text-dark py-5 text-center text-sm-start">
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <h1>Welcome to <span class="text-primary">{{title}}</span></h1>
          <p class="lead my-4">
            {{message}}
            
          </p>
         <!-- todo route to register -->
          <a href="" class="btn btn-primary btn-lg">Get Started</a>
        </div>
        <img class="img-fluid w-50 d-none d-sm-block" src="https://picsum.photos/200" alt="Hero image" />
      </div>
    </div>
  </section>