<h1>My Tasks</h1>

<ul class="list-group">
  {{#each tasks}}
    <li class="list-group-item" aria-current="true">
      <a href="/edittask/{{id}}" type="button" class="btn btn-outline-primary">
        <i class="bi-pencil"></i>
      </a>
      <strong> {{title}}-{{description}}</strong>
      -
      {{email}}
    </li>
  {{/each}}
</ul>

<a type="button" href="/adduser" class="btn btn-primary">
  <i class="bi bi-plus"></i>
</a>
<a type="button" href="/deletetask" class="btn btn-primary">
  <i class="bi bi-plus"></i>
</a>