<div class="card" style="width: 18rem;">
  <img src="https://picsum.photos/200" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Who Am I </h5>
    <p class="card-text"> 
{{userId}}
    </p>
     <a href="/" class="btn btn-primary">Home</a>
  </div>
</div>